body{
    font-family: Arial;
}
.lf-main-container{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    width: 100%;
    max-width: 450px;
}

.lf-main-container-card {
    min-height: 50px;
    width: 100%;
 }

.lf-main-pan-card-content {
    padding: 1rem;
}

.lf-login-icon{
    position: absolute;
    right: 25px;
    top: 18px;
    font-size: 1.8em;
    cursor: pointer;
}

.lf-search-button{
    position: absolute;
    right: 60px;
    top: 18px;
    font-size: 1.8em;
    cursor: pointer;
}

.lf-search-input{
    border :0px;
    outline: none;
    width: 81%;
}

.lf-search-details-card {
    display: none;
    margin-top: 5px;
    min-height: 100px;
    width: 100%;
}

.lf-search-card-content{
    width: 100%;
}

.lf-main-pan {
    min-height: 40px;
    background-color: #FFF;
    width: 100%;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
}

.lf-location-details-container{
    width: 100%;
    /*display: none;*/
}

.lf-location-details-title{
    height: 20vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #eee;
}


.lf-location-details{
    width: 100%;
}

.lf-search-list-container{
    width: 100%;
}

.lf-search-list{
    width: 100%;
    height: 40vh;
    max-height: 40vh;
}

#map {
    width: 100%;
    height: 500px;
}

#users-location{
    position: fixed;
    right: 20px;
    bottom: 25px;
    z-index: 10000;
}



#markers-list{
    margin-top: 20px;
    margin-bottom: 10px;
    overflow-y: scroll;
    height: auto;
    display: none;
}

.user-area-icon{
    font-size: 1.5em;
    float: right;
    cursor: pointer;
}

.lf-logo {
    background-image: url("../img/svg/lasform-logo.svg");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
}

.main-pan-header{
    width: 100%;
    height: 50px;
}



.split-line{
    border-top:1px solid #efefef;
    width: 100%;
}

.infowindow-header{
    font-weight: bold;
}

.contextMenu {
    position: absolute;
    z-index: 1000;
    display:none;
    min-width: 120px;
    background: #FFF;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    font-size: 0.7em;
    color:#4d4d4d;
}

.contextMenu ul {
    padding: 3px 0px;
    margin: 0px;
}

.contextMenu li {
    list-style: none;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    cursor: pointer;
    line-height: 22px;
}

.contextMenu li:hover {
    background-color: #eee;
}

.contextMenu li.separator{
    margin: 0px;
    padding: 0px;
    border-top: solid 1px #ccc;
}


.float-right{
    float: right;
}

.float-left{
    float: left;
}

.lf-loading-container{
    width: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -70px;
    position: relative;
    left: 50%;
    text-align: center;
    /*display: none;*/
}

.lf-loading-container div{
    margin-top: -18px;
    font-size: 0.9em;
    color: gray;
}

.lf-back-to-search{
    position: absolute;
    top: 15px;
    left: 15px;
}

.lf-search-card-close{
    position: absolute;
    right: 15px;
    top: 15px;
}

.lf-user-location-button-icon{
    font-size: 2em;
}

.lf-user-location-button-icon.blinking{
    animation: blinker 0.5s linear infinite;
}

.lf-search-container{

}

.lf-search-list-container{
    /*display: none;*/
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.lf-marker-list-item{
    padding: 5px;
    border-bottom: 1px solid #f4f4f4;
    cursor: pointer;
    min-height: 65px;
}

.lf-marker-list-item .image{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.lf-marker-list-item .title{
    font-size: 1em;
    font-weight: bold;
}

.lf-marker-list-item .description{
    font-size: 0.8em;
}

.lf-marker-list-item .details{
    float: left;
    margin-left: 10px;
    margin-top: 9px;
}

.lf-info-window{

}

.lf-info-window .title{
    font-size: 1em;
    font-weight: bold;
}

.lf-info-window .description{
    font-size: 0.8em;
}

.lf-info-window .details{
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

.lf-info-window .image{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.lf-rating-active-star{
    color: #ffca28;
}

.lf-rating-off-star{
    color: #bdbdbd;
}

.lf-list-item-container{
    overflow-y: scroll;
    max-height: 400px;
}