<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/beans">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/png" href="img/logo-favicon.png"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/lasform.css">

    <script data-main="scripts/main" src="scripts/require.js"></script>
    <title>Lasform v0.0.1</title>

</head>
<body>

    <div id="main-pan" >
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="main-pan-header">
                        <img src="img/logo-small.png" class="logo" />
                        <div class="float-right">
                            <i class="fas fa-user-circle user-area-icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="split-line">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="markers-list">
                        <!-- Current view markers will load here -->
                    </div>
                    <div id="marker-details">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="map">
    </div>

    <div class="contextMenu">
        <ul>
            <li id="zoomIn" onclick="contextMenuZoomIn()">Zoom In</li>
            <li id="zoomOut" onclick="contextMenuZoomOut()">Zoom Out</li>
            <li class="separator"><div></div></li>
            <li id="centerHere" onclick="contextMenuSetCenter()">Center Here</li>
        </ul>
    </div>

    <script>
        // lasform.myfunc();
        // lasform.myfunc2();
    </script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQz41w41dpAu2o9lPssyUCnDgd4rxGpYA&callback=initPage" async defer></script>-->
</body>
</html>