<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/beans">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="img/logo-favicon.png"/>

        <link rel="stylesheet" href="css/lasform.css">
        <link rel="stylesheet" href="css/materialdesignicons.min.css">
        <link rel="stylesheet" href="css/angular_material/1.1.8/angular.material.min.css">
        <title>Lasform v0.0.1</title>

    </head>
    <body ng-app="lfApp">

        <div ng-controller="mapCtrl">

            <div class="lf-main-container">
                <div class="lf-main-bar-card">
                    <md-card md-theme="default" md-theme-watch>
                        <md-card-content>
                            <input ng-model="searchQuery" id="lf-search-input" name="lf-search-input" type="text" placeholder="Search Lasform Map" class="lf-search-input"/>
                            <span id="lf-search-button" class="mdi mdi-magnify lf-search-button"></span>
                            <span class="mdi mdi-account-circle lf-login-icon"></span>
                        </md-card-content>
                    </md-card>
                </div>

                <div class="if-search-container">
                    <md-card md-theme="default" md-theme-watch>
                        <!-- loading -->
                        <div class="lf-loading-container" ng-if="loadingView">
                            <md-progress-circular md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
                            <div>Searching...</div>
                        </div>
                        <!-- search list -->
                        <div class="if-search-list-container" ng-if="searchListView">
                            <md-list class="md-dense" flex>
                                <md-subheader class="md-no-sticky">Searching for '{{searchedQuery}}'</md-subheader>
                                <lf-list-item ng-repeat="location in searchResult"
                                              lat="{{location.latitude}}"
                                              lng="{{location.longitude}}"
                                              lid="{{location.id}}"
                                              title="{{location.name}}"
                                              rating="{{location.rating}}"
                                              description="{{location.description}}"
                                              cover="{{location.cover}}" ></lf-list-item>
                            </md-list>
                        </div>
                        <!-- location details -->
                        <div class="lf-location-details-container" ng-if="locationDetailsView">
                            <md-card-header>
                                <md-card-header-text>
                                    <span class="md-title">Title</span>
                                    <span class="md-subhead">subhead</span>
                                </md-card-header-text>
                            </md-card-header>
                            <div style="background-image: url('img/locations/photo-1.jpg'); width: 100%; background-position: center; background-size: cover; min-height: 200px;">
                            </div>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">In-card actions</span>
                                    <span class="md-subhead">Description</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>
                                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                                </p>
                            </md-card-content>
                        </div>
                    </md-card>
                </div>

            </div>

        </div>

                <!--<div class="lf-main-pan-container">-->
        <!--<div class="mdl-card mdl-shadow&#45;&#45;2dp lf-main-pan-card">-->
            <!--<div class="mdl-card__supporting-text">-->
                <!--<input id="lf-search-input" name="lf-search-input" type="text" placeholder="Search Lasform Map" class="lf-search-input">-->
                <!--<i id="lf-search-button" class="material-icons lf-search-button">-->
                    <!--search-->
                <!--</i>-->
                <!--<i class="material-icons lf-login-icon">-->
                    <!--account_circle-->
                <!--</i>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="mdl-card mdl-shadow&#45;&#45;2dp lf-search-details-card">-->

            <!--<div class="lf-loading-container">-->
                <!--<div class="mdl-spinner mdl-spinner&#45;&#45;single-color mdl-js-spinner is-active lf-loading"></div>-->
            <!--</div>-->

            <!--<div class="if-search-container">-->
                <!--<div class="lf-search-card-close">-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect mdl-color&#45;&#45;white lf-search-card-close-button">-->
                        <!--<i class="material-icons" >close</i>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="mdl-card__title &#45;&#45;blue ">-->
                    <!--Search '<span class="lp-search-query"></span>'-->
                <!--</div>-->
                <!--<div class="mdl-card__supporting-text lf-search-card-content">-->
                    <!--<div class="lf-search-list"></div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="lf-location-details-container">-->
                <!--<div class="lf-back-to-search">-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect mdl-color&#45;&#45;white lf-back-to-search-button">-->
                        <!--<i class="material-icons" >arrow_back</i>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="mdl-card__title if-location-details-title"></div>-->
                <!--<div class="mdl-card__menu">-->
                    <!--<button class="mdl-button mdl-button&#45;&#45;icon mdl-js-button mdl-js-ripple-effect mdl-color&#45;&#45;white">-->
                        <!--<i class="material-icons ">more_vert</i>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="mdl-card__supporting-text lf-search-card-content">-->
                    <!--<div class="lf-location-details">-->
                        <!--<h5>Location 1</h5>-->
                        <!--<span></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

    <!--</div>-->

    <div id="map">
    </div>

    <div id="users-location" >
        <md-button class="md-fab md-primary lf-user-location-button" aria-label="Use Android">
            <span class="mdi mdi-crosshairs-gps lf-user-location-button-icon"></span>
        </md-button>
    </div>

    <!--<div class="contextMenu">-->
        <!--<ul>-->
            <!--<li id="zoomIn" onclick="contextMenuZoomIn()">Zoom In</li>-->
            <!--<li id="zoomOut" onclick="contextMenuZoomOut()">Zoom Out</li>-->
            <!--<li class="separator"><div></div></li>-->
            <!--<li id="centerHere" onclick="contextMenuSetCenter()">Center Here</li>-->
        <!--</ul>-->
    <!--</div>-->
    </body>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQz41w41dpAu2o9lPssyUCnDgd4rxGpYA"></script>
    <script src="scripts/lib/angular/1.6.9/angular.min.js"></script>
    <script src="scripts/lib/angular/1.6.9/angular.animate.min.js"></script>
    <script src="scripts/lib/angular/1.6.9/angular.aria.min.js"></script>
    <script src="scripts/lib/angular/1.6.9/angular.messages.min.js"></script>
    <script src="scripts/lib/angular_material/1.1.8/angular.material.min.js"></script>
    <script src="scripts/lib/jquery/jquery.js"></script>
    <script src="scripts/app/lasform.templates.js"></script>
    <script src="scripts/app/lasform.app.js"></script>
    <script src="scripts/app/lasform.service.js"></script>
    <script src="scripts/app/lasform.directive.js"></script>

</html>