<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/beans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="img/logo-favicon.png"/>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/lasform.css">

    <script data-main="scripts/main" src="scripts/require.js"></script>
    <title>Lasform v0.0.1</title>

</head>
<body>

    <div id="main-pan-container">
        <div id="main-pan" >
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="main-pan-header">
                            <img src="img/logo-small.png" class="logo" />
                            <div class="float-right">
                                <i class="fas fa-user-circle user-area-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="split-line">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div id="search-bar">
                            <form action="#">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                                        <i class="material-icons">search</i>
                                    </label>
                                    <div class="mdl-textfield__expandable-holder">
                                        <input class="mdl-textfield__input" type="text" id="sample6">
                                        <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="markers-list"></div>
                        <div id="marker-details"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div id="map">
    </div>

    <div class="contextMenu">
        <ul>
            <li id="zoomIn" onclick="contextMenuZoomIn()">Zoom In</li>
            <li id="zoomOut" onclick="contextMenuZoomOut()">Zoom Out</li>
            <li class="separator"><div></div></li>
            <li id="centerHere" onclick="contextMenuSetCenter()">Center Here</li>
        </ul>
    </div>

</body>
</html>